.game {
    height: 100vh;

    &__page {
        background-color: #F5F5F7;
        display: flex;
        height: 100vh;
        max-width: 1440px;
        margin: auto;
        justify-content: space-between;
    }

    &__task {
       padding: 130px 97px 120px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
    }

    &__question {
        max-width: 625px;
        font-weight: 600;
        font-size: 32px;
        line-height: 116%;
        color: #1C1C21;
    }

    &__options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    &__option {
        position: relative;
        display: flex;
        align-items: center;
        padding: 25px 0;
        background: url('../images/option.png') no-repeat;
        background-size: 100%;
        font-size: 20px;
        line-height: 116%;
        width: 390px;
        cursor: pointer;
        transition: 0.2s;

        
        &:after {
            position: absolute;
            right: -17px;
            content: '';
            width: 17px;
            height: 1px;
            background-color: #D0D0D8;
        }

        &:before {
            position: absolute;
            left: -17px ;
            content: '';
            width: 17px;
            height: 1px;
            background-color: #D0D0D8;
        }

        &:hover {
            background-image: url('../images/hover-option.png');
        }

        &-letter {
            margin: 0 8px 0 32px;
            color: #FF8B37;
            font-weight: 600;
            font-size: 20px;
            line-height: 116%;
        }
    }

    &__prizes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 70px;
        background-color: #fff;
    }

    &__prize {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        background: url('../images/unactive-prize.png') no-repeat;
        color: #1C1C21;
        width: 240px;
        height: 40px;
        font-size: 20px;
        line-height: 116%;

        &:after {
            position: absolute;
            left: 240px ;
            content: '';
            width: 70px;
            height: 1px;
            background-color: #D0D0D8;
        }

        &:before {
            position: absolute;
            right: 240px ;
            content: '';
            width: 70px;
            height: 1px;
            background-color: #D0D0D8;
        }

        &--active {
            background-image: url('../images/active-prize.png');
            color: #FF8B37;

            &:before {
                background-color: #FF8B37;
            }

            &:after {
                background-color: #FF8B37;
            }
        }

        &--unactive {
            color: #D0D0D8;
        }
    }
}

.game-start {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 80px;
    height: 100vh;
    max-width: 1440px;
    
    background: linear-gradient(to bottom right, #FFF 50%, #FFF3EB 50%);

    &__title {
        margin-bottom: 65px;
        font-weight: 600;
        font-size: 56px;
        line-height: 116%;
        color: #1C1C21;
    }

    &__right-container {
        display: flex;
        flex-direction: column;
    }

    &__image {
        margin-right: 30px;
        max-width: 625px;
        height: 365px;
        transition: 0.5s;

        &:hover {
            animation: swing 1s ease;
            animation-iteration-count: 1;
        }
    }

    &__button {
        width: 300px;
        padding: 20px 24px;
        background-color: #FF8B37;
        border: none;
        border-radius: 12px;
        font-weight: 600;
        font-size: 20px;
        line-height: 116%;
        color: #FFF;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);
            background-color: #FFD62A;
            color: #1C1C21;
        
        }

        &:focus {
            outline: none;
        }
    }
}

.game-over {
    background-color: #F5F5F7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 80px;
    height: 100vh;
    max-width: 1440px;

    &__title {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 32px;
        line-height: 116%;
        color: #9c9c9f;
    }

    &__result {
        margin-bottom: 64px;
        font-weight: 600;
        font-size: 56px;
        line-height: 116%;
        color: #1C1C21;
    }

    &__right-container {
        display: flex;
        flex-direction: column;
    }

    &__image {
        margin-right: 30px;
        max-width: 625px;
        height: 365px;
        transition: 0.5s;

        &:hover {
            animation: swing 1s ease;
            animation-iteration-count: 1;
        }
    }

    &__button {
        width: 300px;
        padding: 20px 24px;
        background-color: #FF8B37;
        border: none;
        border-radius: 12px;
        font-weight: 600;
        font-size: 20px;
        line-height: 116%;
        color: #FFF;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);
            background-color: #FFD62A;
            color: #1C1C21;
        
        }

        &:focus {
            outline: none;
        }
    }
}

@media screen and (max-width: 1280px) {
    .game-start {
        &__title {
            font-size: 44px;
        }

        &__image {
            width: 100%;
            height: auto;
        }
    }

    .game-over {
        &__title {
            font-size: 44px;
        }

        &__image {
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 991px) {
    .game-start {
        padding: 0 16px;
        flex-direction: column;

        &__right-container {
            align-items: center;
        }

        &__title {
            font-size: 32px;
            margin-bottom: 100px;
            text-align: center;
        }

        &__image {
            width: 100%;
            height: auto;
            margin: 0 0 35px 0;
        }

        &__button {
            max-width: 300px;
            padding: 16px 24px;
            font-size: 14px;
            border-radius: 8px;
        }
    }

    .game-over {
        padding: 0 16px;
        flex-direction: column;

        &__right-container {
            align-items: center;
        }

        &__title {
            font-size: 32px;
            margin-bottom: 8px;
            text-align: center;
        }

        &__result {
            font-weight: 600;
            font-size: 32px;
            line-height: 116%;
            margin-bottom: 100px;
        }

        &__image {
            width: 100%;
            height: auto;
            margin: 0 0 35px 0;
        }

        &__button {
            max-width: 300px;
            padding: 16px 24px;
            font-size: 14px;
            border-radius: 8px;
        }
    }
}

@keyframes swing {
    15% {
      transform: translateX(10px);
    }
    30% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    65% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    } 
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.822);

    &__image {
        width: 100px;
        height: 100px;
        object-position: center;
        object-fit: contain;
    }

    &__title {
        color: white;
        font-size: 30px;
    }
  }