.game-start {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 80px;
    max-width: 1440px;
    height: 100vh;
    background: linear-gradient(to bottom right, #FFF 50%, #FFF3EB 50%);

    &__title {
        margin-bottom: 65px;
        font-weight: 600;
        font-size: 56px;
        line-height: 116%;
        color: #1C1C21;
    }

    &__right-container {
        display: flex;
        flex-direction: column;
    }

    &__image {
        margin-right: 30px;
        max-width: 625px;
        height: 365px;
    }

    &__button {
        width: 300px;
        padding: 20px 24px;
        background-color: #FF8B37;
        border: none;
        border-radius: 12px;
        font-weight: 600;
        font-size: 20px;
        line-height: 116%;
        color: #FFF;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: #FFD62A;
            color: #1C1C21;
        
        }
    }
}

@media screen and (max-width: 1280px) {
    .game-start {
        &__title {
            font-size: 44px;
        }

        &__image {
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 991px) {
    .game-start {
        padding: 0 16px;
        flex-direction: column;

        &__right-container {
            align-items: center;
        }

        &__title {
            font-size: 32px;
            margin-bottom: 100px;
            text-align: center;
        }

        &__image {
            width: 100%;
            height: auto;
            margin: 0 0 35px 0;
        }

        &__button {
            max-width: 300px;
            padding: 16px 24px;
            font-size: 14px;
            border-radius: 8px;
        }
    }
}
